lambda
lambda-prometheus
.env
function.zip
function_gcp.zip
.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
deploy/*/.terraform


bin
obj
appsettings.json
local.settings.json
*.exe
main
.vscode/*
tfplan
terraform-provider-*
*.hcl

*.tfvars
*.tfvars.json

**/vendor/**

.DS_Store